{% extends 'appsaway/main.html' %}
{% block content %}
    {% url 'createcompany' as createcompany %}
    <div id="container" style="margin: 25px 25px 0px 25px; padding-bottom: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div style="text-align: center;">
                    <h1>Companies</h1>
                    <div>
                        <a class="btn btn-primary btn-sm btn-primary" href="{{ createcompany }}">Create Company</a>
                        Total: {{ company_count }}
                    </div>
                    <br>
                </div>
                <div class="card text-white bg-dark card-body">
                    <form id="companyForm" method="get">
                        <div class="d-flex flex-row justify-content-center flex-wrap">
                            <div class="d-inline-flex flex-row justify-content-center flex-wrap">
                                <div style="margin: 5px;">{{ companyFilter.form.company_name }}</div>
                            </div>
                            <div class="d-inline-flex flex-row justify-content-end">
                                <div style="margin: 5px;"><a class="btn btn-primary btn-sm btn-secondary" href="{% url 'companylist' %}">Reset</a></div>
                                <div style="margin: 5px;"><button class="btn btn-primary btn-sm btn-primary" type="submit">Search</button></div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-dark table-sm" style="margin-top: 25px; text-align: center;">
                        {% if companies %}
                            <tr>
                                <th>Company</th>
                                <th>Website</th>
                                <th>Notes</th>
                                <th>View</th>
                            </tr>
                            {% for company in companies %}
                            <tr>
                                <td>{{ company.company_name }}</td>
                                 <td>{% if company.company_site %}<a href="{{ company.company_site }}">{{ company.company_site }}</a>{% else %}None{% endif %}</td>
                                <td>{{ company.company_notes }}</td>
                                <td><a class="btn btn-primary btn-sm btn-primary" href="{% url 'company' company.pk %}">View</a></td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <th>No Companies</th>
                            </tr>
                        {% endif %}
                        </table>
                    </div>
                    {% if companies.has_other_pages %}
                    	<nav aria-label="Company page navigaton">
	                        <ul class="pagination flex-wrap justify-content-center">
	                        {% if companies.has_previous %}
	                          {% if not companyFilter.form.company_name.value %}
	                        		<li class="page-link"><a href="?page={{ companies.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
	                        	{% else %}
	                        		<li class="page-link"><a href="?company_name={{ companyFilter.form.company_name.value }}&page={{ companies.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                        		{% endif %}
	                        {% else %}
	                          <li class="page-link disabled" tabindex="-1"><span aria-hidden="true">&laquo;</span><span class="sr-only">Next</span></li>
	                        {% endif %}
	                        &nbsp;
	                        {% for i in companies.paginator.page_range %}
	                          {% if companies.number == i %}
	                            <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>	                            
	                          {% else %}
	                          	{% if not companyFilter.form.company_name.value %}
	                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
	                            {% else %}
	                            <li class="page-item"><a class="page-link" href="?company_name={{ companyFilter.form.company_name.value }}&page={{i}}">{{i}}</a></li>
	                            {% endif %}
	                          {% endif %}
	                        {% endfor %}
	                        &nbsp;
	                        {% if companies.has_next %}
	                        	{% if not companyFilter.form.company_name.value %}
	                        		<li class="page-link"><a href="?page={{ companies.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
	                        	{% else %}
	                        		<li class="page-link"><a href="?company_name={{ companyFilter.form.company_name.value }}&page={{ companies.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                        		{% endif %}
	                        {% else %}
	                        	<li class="page-link disabled" tabindex="-1"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></li>
	                        {% endif %}
	                        </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}