{% extends 'appsaway/main.html' %}
{% block content %}
    {% if messages %}
       <script>
        {% for message in messages %}
            alert("{{ message }}");
            location.href='{% url 'companylist' %}'
        {% endfor %}
       </script>
    {% endif %}
    {% if companies_count == 0 %}
       <script>
            alert("No existing companies found, please add one before adding an application!");
       </script>
    {% endif %}
    <div id="container" style="margin: 25px 25px 0px 25px; padding-bottom: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <h1>Create Company</h1>
                <div class="card text-white bg-dark card-body">
                    <form method="POST" action="">
                    {% csrf_token %}
                    <div class="table-responsive">
                        <table class="table table-dark table-sm">
                            <h4>Company Info</h4>
                            <tr>
                                <td>{{ form.company_name }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.company_notes }}</td>
                            </tr>
                        </table>
                        <table class="table table-dark table-sm">
                            <h4>Contact Info</h4>
                            <tr>
                                <tr>
                                <td>{{ form.contact_name }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.contact_email }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.contact_phone }}</td>
                            </tr>
                        </table>
                    </div>
                    </br>
                    <input type="number" name="user" value="{{ user.pk }}" hidden>
                    <input class="btn btn-primary btn-sm btn-primary" type="submit" value="Create" name="Create">
                    <a class="btn btn-primary btn-sm btn-secondary" href="javascript:goBack()">Cancel</a>
                    </form>
                    </br>
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
