{% extends 'appsaway/main.html' %}
{% block content %}
{% url 'login' as login %}
<div id="container" style="width: 60%; margin: auto;">
    <div id="faq">
        <h1 style="margin: 25px; text-align: center;">Frequently Asked Questions</h1>
        <hr>
    </div>
    <div style="padding-bottom: 50px;">
        <h2>Is AppsAway free to use?</h2>
        <ul>
            <li>
                Yes! AppsAway is free of charge. There are no hidden costs, fees or services.
            </li>
        </ul>
        <h2>How do I sign up / use it?</h2>
        <ul>
            <li>
                Create a free account <a href="{{ login }}">here</a>.
                Then start adding applications and companies to track.
            </li>
        </ul>
        <h2>What do you do with my data?</h2>
        <ul>
            <li>
                Your data and privacy are of the utmost priority. Data is NEVER sold, transferred, viewed
                or accessed by any third parties. All data remains on a secure server.
                If at any time you opt to delete your account, all data is subsequently purged.
            </li>
        </ul>
        <h2>Who made AppsAway and why?</h2>
        <ul>
            <li>AppsAway was developed by Josh McKinney,
                a Software Development graduate in pursuit of the dream job.
            </li>
        </ul>
        <h2 id="forgot">I forgot my password, what can I do?</h2>
        <ul>
            <li>
                <p>
                    Please use the <a href="{% url 'contact' %}">contact form</a> with the subject "Forgot Password".
                    Include your username and send it via your account's associated email address.
                    We will get back to you as soon as possible with a regenerated password.
                    Thank you for your understanding.
                </p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}