{% extends 'appsaway/main.html' %}
{% block content %}
{% url 'home' as home %}
{% url 'login' as login %}
    <div id="content" style="text-align: center; overflow: auto; padding-bottom: 50px;">
        <img src="static/favicon/favicon.png"></br>
        <h1>AppsAway</h1>
        <h3><em>A Job Application Tracker</em></h3>
        <p>The best way to keep track of your job applications and make sure to follow up!</br>Get started below.</p>

        {% if user.is_authenticated %}
            <form action="{{ home }}">
                <input class="btn btn-primary btn-sm btn-primary" type="submit" value="Back to Dashboard">
            </form>
        {% else %}
            <form action="{{ login }}">
                <input class="btn btn-primary btn-sm btn-primary" type="submit" value="Login">
            </form>
        {% endif %}
        <div style="margin: 0 auto; margin-top: 50px; padding-top: 25px;">
        	<h5><u>Recent Updates</u></h4>
	        <div id="container" style="margin: 25px 25px 0px 25px; padding-bottom: 50px; text-align: left;">
		        <div class="row justify-content-center">
		            <div class="col-sm-auto">
		                <div class="card text-white bg-dark card-body" style="max-height: 150px; overflow-y: auto;">
		                    <ul>
					<u><em>12-23-21</em></u>
					<li>Server upgrades</li>
		                    	<u><em>02-26-21</em></u>
		                    	<li>Application & Company list pagination fixed</li>
		                    	<li>Application add/edit bug fixes (dates & requirements)</li>
		                    	<li>UI enhancements</li>
		                    	<u><em>12-15-20</em></u>
		        				<li>Website field added to company profiles</li>
		        				<li>Company and app list views decluttered</li>
		        				<li>Application update time fixed</li>
		        			</ul>
		                </div>
		            </div>
		        </div>
	        </div>
    	</div>
{% endblock %}
