{% url 'index' as index %}
{% url 'contact' as contact %}
{% url 'faq' as faq %}
{% url 'login' as login %}
{% url 'home' as home %}
{% url 'applist' as applist %}
{% url 'companylist' as companylist %}
{% url 'profile' as profile %}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ index }}">AppsAway</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        {% if user.is_authenticated %}
            <a class="nav-item nav-link {% if request.path == home %} active {%endif%}" href="{{ home }}">Dashboard<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link {% if request.path == applist %} active {%endif%}" href="{{ applist }}">Applications</a>
            <a class="nav-item nav-link {% if request.path == companylist %} active {%endif%}" href="{{ companylist }}">Companies</a>
            <a class="nav-item nav-link {% if request.path == profile %} active {%endif%}" href="{{ profile }}">Profile</a>
        {% endif %}
        <a class="nav-item nav-link {% if request.path == contact %} active {%endif%}" href="{{ contact }}">Contact Us</a>
        <a class="nav-item nav-link {% if request.path == faq %} active {%endif%}" href="{{ faq }}">FAQ</a>
        {% if not user.is_authenticated %}
            <a class="nav-item nav-link {% if request.path == login %} active {%endif%}" href="{{ login }}">Login</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="javascript:logout()">Logout</a>
        {% endif %}
        {% if user.is_superuser %}
            <a class="nav-item nav-link" href="/admin/">Admin Panel</a>
        {% endif %}
    </div>
  </div>
</nav>