{% extends 'appsaway/main.html' %}
{% block content %}
    {% if messages %}
       <script>
        {% for message in messages %}
            alert("{{ message }}");
            location.href='{% url 'login' %}'
        {% endfor %}
       </script>
    {% endif %}
    <div style="margin: 25px; text-align: center">
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <h1>Register</h1>
                <div class="card text-white bg-dark card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form.username.label }}:<br>
                        {{ form.username }}<br>
                        {{ form.email.label }}:<br>
                        {{ form.email }}<br>
                        {{ form.password1.label }}:<br>
                        {{ form.password1 }}<br>
                        {{ form.password2.label }}:<br>
                        {{ form.password2 }}<br><br>
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                            <br>
                        {% endif %}
                        <div style="display: flex; flex-direction: row; justify-content: center">
                            <input class="btn btn-primary btn-sm btn-primary" type="submit" value="Register" name="Register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}